bl {color:blue;}
r {color:#ff15a4;}
.center{text-align:center;}
.large{font-size:large;}

button{
  width:100px;
  height:100px;
  font-size:Times New Roman;
  background-color:blue;
}

button:hover{
  background-color:orange;
  width:200px;
  height:200px;
}
